.explore-container {
    min-height: 100vh;
}

.explore-main {
    margin-left: calc(100px + 2rem);
    padding: 2rem 2rem 2rem 0;
}

.video-list {
    margin-bottom: 18vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 4rem 2rem;
}

.video-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--color-foreground);
}

.video-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-content {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.video-title span {
    max-width: calc(100% - 25px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.video-creator {
    font-size: 1.4rem;
}

.video-options, .video-img-container  {
    cursor: pointer;
}

.menu-outer-container {
    position: relative;
}

.menu-container {
    position: absolute;
    background-color: var(--color-background);
    top: 1.5rem;
    width: 20rem;
    right: 0;
    list-style: none;
    border: 1px solid var(--color-background-accent);
}

.menu-item {
    padding: 1rem 1.5rem;
    color: var(--color-foreground);
    display: flex;
    align-items: center;
    gap: 0.8rem;
    cursor: pointer;
}

.menu-item:hover {
    background-color: var(--color-background-accent);
}


@media only screen and (max-width: 768px) {
    .explore-main{
        margin-left: 0;
        padding: 1.5rem;
        margin-bottom: 15vh;
    }
}