.upload-modal .modal-content {
    height: fit-content;
    max-width: 50rem;
}

.upload-modal .modal-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.upload-modal .input-grp {
    width: 100%;
}

.input-grp input {
    color: var(--color-foreground);
}

.upload-modal .input-grp #category {
    width: 100%;
    padding: 1rem 1.25rem;
    outline: none;
    font-size: 1.6rem;
    color: var(--color-foreground);
    background-color: var(--color-background);
    border-radius: var(--border-radius-3);
}

@media only screen and (max-width: 600px) {
    .upload-modal .modal-content {
        max-width: 40rem;
    }
}